<?xml version="1.0"?>
<!--
/**
 * RapidCampaign
 *
 * @category    RapidCampaign
 * @package     RapidCampaign_Promotions
 * @copyright   Copyright (c) 2015 RapidCampaign (http://rapidcampaign.com)
 */
-->
<config>
    <modules>
        <RapidCampaign_Promotions>
            <version>1.0.0</version>
        </RapidCampaign_Promotions>
    </modules>
    <global>
        <helpers>
            <rapidcampaign_promotions>
                <class>RapidCampaign_Promotions_Helper</class>
            </rapidcampaign_promotions>
        </helpers>
        <blocks>
            <rapidcampaign_promotions>
                <class>RapidCampaign_Promotions_Block</class>
            </rapidcampaign_promotions>
        </blocks>
        <models>
            <rapidcampaign_promotions>
                <class>RapidCampaign_Promotions_Model</class>
                <resourceModel>rapidcampaign_resource</resourceModel>
            </rapidcampaign_promotions>
            <rapidcampaign_resource>
                <class>RapidCampaign_Promotions_Model_Resource</class>
                <entities>
                    <promotions>
                        <table>rapidcampaign_promotions</table>
                    </promotions>
                </entities>
            </rapidcampaign_resource>
        </models>
        <resources>
            <rapidcampaign_promotions_setup>
                <setup>
                    <module>RapidCampaign_Promotions</module>
                </setup>
            </rapidcampaign_promotions_setup>
        </resources>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <cart_product_added>
                        <type>singleton</type>
                        <class>rapidcampaign_promotions/observer</class>
                        <method>onCartProductAdded</method>
                    </cart_product_added>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </global>
    <admin>
        <routers>
            <rapidcampaign>
                <use>admin</use>
                <args>
                    <module>RapidCampaign_Promotions</module>
                    <frontName>rapidcampaign</frontName>
                </args>
            </rapidcampaign>
        </routers>
    </admin>
    <frontend>
        <routers>
            <rapidcampaign>
                <use>standard</use>
                <args>
                    <module>RapidCampaign_Promotions</module>
                    <frontName>rapidcampaign</frontName>
                </args>
            </rapidcampaign>
        </routers>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <add_analytics_to_order_page>
                        <class>rapidcampaign_promotions/observer</class>
                        <method>onBlockToHtml</method>
                    </add_analytics_to_order_page>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <rapidcampaign_promotions>
                    <file>rapidcampaign.xml</file>
                </rapidcampaign_promotions>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <build_widget_hook>
                        <type>singleton</type>
                        <class>rapidcampaign_promotions/observer</class>
                        <method>onControllerActionPredispatch</method>
                    </build_widget_hook>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <RapidCampaign_Promotions />
            </modules>
        </suite>
    </phpunit>
    <default>
        <rapidcampaign_promotions>
            <api_endpoint>
                <production>http://api.rapidcampaign.com</production>
                <test>http://api.dev.rapidcampaign.com</test>
            </api_endpoint>
            <iframe>
                <promotions_url>https://promotions.rapidcampaign.com</promotions_url>
            </iframe>
            <analytics_script>
                <path>https://analytics.rapidcampaign.com/analytics.js</path>
            </analytics_script>
        </rapidcampaign_promotions>
        <rapidcampaign_general>
            <rapidcampaign_general_group>
                <enable>1</enable>
                <enable_encryption>1</enable_encryption>
                <encryption_key>ixmc1mnuciw2jyv4</encryption_key>
                <enable_analytics>1</enable_analytics>
                <cookie_lifetime>2592000</cookie_lifetime>
            </rapidcampaign_general_group>
        </rapidcampaign_general>
        <rapidcampaign_developer>
            <rapidcampaign_developer_group>
                <enable_test_mode>1</enable_test_mode>
                <enable_debug_logs>1</enable_debug_logs>
            </rapidcampaign_developer_group>
        </rapidcampaign_developer>
    </default>
</config>
